# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.github/workflows                              @fuxingloh @surangap
/.idea/                                         @fuxingloh
/docs/                                          @surangap @fuxingloh @DieHard073055 @canonbrother

/nodes/                                         @surangap @fuxingloh @DieHard073055 @canonbrother
/pallets/                                       @surangap @fuxingloh @DieHard073055 @canonbrother
/runtimes/                                      @surangap @fuxingloh @DieHard073055 @canonbrother

README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
rustfmt.toml                                    @surangap @fuxingloh
Cargo.toml                                      @surangap @fuxingloh
Cargo.lock                                      @surangap @fuxingloh
